In [27]:
import os
import pandas as pd
from xgboost import XGBRegressor 
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

data_path = "/Users/abhishekkumar/Documents/MS_UB/Fall_18/ESL506_StatisticalDataMiningI/Project/SIGNATE/translated/"

train = pd.read_table(os.path.join(data_path,"'ttrain.tsv'.txt"))
test = pd.read_table(os.path.join(data_path,"'ttest.tsv'.txt"))
hotlink = pd.read_table(os.path.join(data_path,"'thotlink.tsv'.txt"))
nightley = pd.read_table(os.path.join(data_path,"'nightley.tsv'.txt"))
colopl = pd.read_table(os.path.join(data_path,"'tcolopl.tsv'.txt"))
jorudan = pd.read_table(os.path.join(data_path,"tjorudan.tsv"))

In [28]:
train.head()

     datetime                      epark  visitors
0  2015-01-01  Akan Megumi National Park     11028
1  2015-01-02  Akan Megumi National Park     11153
2  2015-01-03  Akan Megumi National Park     12343
3  2015-01-04  Akan Megumi National Park      6732
4  2015-01-05  Akan Megumi National Park      4877

In [29]:
######################################################################
#Transforming Training Data
#####################################################################
#One hot encoding for parks
train_df = pd.DataFrame()
train_df["Akan"] = train["epark"] == "Akan Megumi National Park"
train_df["Aso"] = train["epark"] == "Aso Kuju National Park"
train_df["Ise"] = train["epark"] == "Ise Shima National Park"
train_df["Kerama"] = train["epark"] == "Kerama islands national park"
train_df["Kirishima"] = train["epark"] == "Kirishima Jinjiang Bay National Park"
train_df["Nikko"] = train["epark"] == "Nikko National Park"
train_df["Oyama"] = train["epark"] == "Oyama Oki National Park"
train_df["Towada"] = train["epark"] == "Towada Hachimantai National Park"

#
train['datetime'] = pd.to_datetime(train['datetime'])

#Creating new features with datetime
train_df["dayofweek"] = train['datetime'].dt.dayofweek
train_df["dayofweek"] = train_df["dayofweek"].astype(object)
train_df["month"] = train['datetime'].dt.month
train_df["month"] = train_df["month"].astype(object)
train_df["year"] = train['datetime'].dt.year
train_df["year"] = train_df["year"].astype(object)
train_df["day"] = train['datetime'].dt.day
train_df["day"] = train_df["day"].astype(object)


##############################################################################
#Transforming Test Data
#############################################################################
#One hot encoding for parks
test_df = pd.DataFrame()
test_df["Akan"] = test["epark"] == "Akan Megumi National Park"
test_df["Aso"] = test["epark"] == "Aso Kuju National Park"
test_df["Ise"] = test["epark"] == "Ise Shima National Park"
test_df["Kerama"] = test["epark"] == "Kerama islands national park"
test_df["Kirishima"] = test["epark"] == "Kirishima Jinjiang Bay National Park"
test_df["Nikko"] = test["epark"] == "Nikko National Park"
test_df["Oyama"] = test["epark"] == "Oyama Oki National Park"
test_df["Towada"] = test["epark"] == "Towada Hachimantai National Park"

#
test['datetime'] = pd.to_datetime(train['datetime'])

#Creating new features with datetime
test_df["dayofweek"] = test['datetime'].dt.dayofweek
test_df["dayofweek"] = test_df["dayofweek"].astype(object)
test_df["month"] = test['datetime'].dt.month
test_df["month"] = test_df["month"].astype(object)
test_df["year"] = test['datetime'].dt.year
test_df["year"] = test_df["year"].astype(object)
test_df["day"] = test['datetime'].dt.day
test_df["day"] = test_df["day"].astype(object)


###################
#Scaling test and training features
##################
X_train_scaled = scaler.fit_transform(train_df) 
X_test_scaled = scaler.fit_transform(test_df)

/Users/abhishekkumar/anaconda3/envs/signate/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype bool, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/abhishekkumar/anaconda3/envs/signate/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype bool, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/Users/abhishekkumar/anaconda3/envs/signate/lib/python3.6/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype bool, object were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/Users/abhishekkumar/anaconda3/envs/signate/lib/python3.6/site-packages/sklearn/base.py:462: DataConversionWarning: Data with input dtype bool, object were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [32]:



xgb = XGBRegressor()

model = xgb.fit(X_train_scaled, train["visitors"])

In [33]:
print(model)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='reg:linear', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [38]:
import numpy as np
# make predictions for test data
y_pred = model.predict(X_train_scaled)
predictions = [round(value) for value in y_pred]
score = np.mean(abs(y_pred - train["visitors"]))
print(score)

2557.4943176810866

In [39]:
train_df.head()

,Akan,Aso,Ise,Kerama,Kirishima,Nikko,Oyama,Towada,dayofweek,month,year,day
0,True,False,False,False,False,False,False,False,3,1,2015,1
1,True,False,False,False,False,False,False,False,4,1,2015,2
2,True,False,False,False,False,False,False,False,5,1,2015,3
3,True,False,False,False,False,False,False,False,6,1,2015,4
4,True,False,False,False,False,False,False,False,0,1,2015,5

In [42]:
train["visitors"].describe()

count     5848.000000
mean      7186.736149
std       8791.087517
min          0.000000
25%        346.000000
50%       4214.500000
75%      11103.750000
max      87008.000000
Name: visitors, dtype: float64

In [1]:
import numpy as np

In [6]:
aa = np.random.randint(0,5,4)

In [8]:
aa = aa.tolist()

In [9]:
aa

[4, 0, 4, 3]

In [10]:
aa.append(5)
aa = np.asarray(aa)

In [11]:
aa

array([4, 0, 4, 3, 5])